<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.phantasm.bioglobe</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/u/Desktop/optimised update-v2macos/protocol/bioglobe.py</string>
        <string>--jack</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/u/Desktop/optimised update-v2macos/protocol/bioglobe.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/u/Desktop/optimised update-v2macos/protocol/bioglobe.err</string>
    <key>WorkingDirectory</key>
    <string>/Users/u/Desktop/optimised update-v2macos/protocol</string>
</dict>
</plist>
